@model IEnumerable<casestudy2.Models.Product.Product>
@{
    ViewData["Title"] = "DisplayPage";
}
@Html.Partial("MenuBar");

<div class="container">

    <div class="leftmargin m-2">
        <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-init>
            <a asp-action="AddProduct" style="color:aliceblue">+ Add New Product</a>
        </button>
    </div>
    <div class="row gy-4">

        @{
            if (ViewBag.allproduct.Count==0)
            {
                <h3>No Product Found</h3>
            }
            foreach (var item in ViewBag.allproduct)
            {
                <div class="col-4">
                    <div class="card customcard cardshadow">
                        <img src="~/@item.ProductImageUrl" class="card-img-top p-2 productCardimg" alt="@item.ProductName">
                        <div class="card-body">
                            <h5 class="card-title">@item.ProductName</h5>
                            <p class="card-text">$@item.ProductPrice</p>
                            <p class="card-text">Quantity:@item.ProductStock</p>
                            <div class="flex d-flex justify-content-between align-items-center">
                                    <button type="button" class="mt-2 btn btn-outline-dark btn-rounded" data-mdb-ripple-init data-mdb-ripple-color="dark">
                                        <a asp-action="AddtoCart" asp-route-id="@item.ProductId">
                                            Add to Cart
                                        </a>
                                    </button>
                                    <div class="flex d-flex">
                                    <a asp-action="ModifyProduct" asp-route-id="@item.ProductId" class="mx-1">
                                        <img src="~/assest/add.png" class="icons" />
                                    </a>
                                    <a asp-action="DeleteProduct" asp-route-id="@item.ProductId" class="mx-1">
                                        <img src="~/assest/remove.png" class="icons" />
                                    </a>
                                </div>
                            </div>
                                
                              
                           
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


